<!--Se hereda el layout-->
{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <!--Esto es un comentario en html-->
    {% comment "Nota para el comentario" %}
        <h2>Esto es un comentario y no se va a ver</h2>
    {% endcomment %}

    <h1 class="title">{{ title }}</h1>

    <p>{{ mi_variable }}</p>

    {% if nombre %}
        <p> {{ nombre }}</p>
    {% else %}
        <strong>El nombre no existe</strong>
    {% endif %}

    <h3>Listado de lenguajes de programación:</h3>
    <ul>
        {% for lenguaje in lenguajes %}
        {% comment "Metodos de los for" %}
            forloop.first -> devuelve true o false si es el primer elemento de la lista
            forloop.last -> devuelve true o false si es el último elemento de la lista
            forloop.counter -> devuelve el numero del elemento en la lista
            forloop.counter0 -> devuelve el numero del elemento en la lista inicia desde el 0
            forloop.revcounter -> devuelve el numero del elemento en la lista de manera inversa
            forloop.revcounter0 -> devuelve el numero del elemento en la lista de manera inversa inicia desde 0
        {% endcomment %}
            <li>{{forloop.counter}}.-{{ lenguaje }}</li>
        {% comment "Comentario sobre empty" %} empty -> valida si la lista esta vacia {% endcomment %}
        {% empty %}
            <p>No hay lenguajes por mostrar</p>
        {% endfor %}
    </ul>

    <p>Años hasta el 2050:</p>
    <ul>
        {{ 2021|divisibleby:2 }}
        {% for year in years %}
            {% if year|divisibleby:2 == True %}
                <li>{{ year }}</li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}